# SiFive HiFive1 Rev B01 - RISC-V E31 Core

adapter speed 2000

transport select jtag

# SiFive E31 core
set CHIPTYPE 0
set COREID 0
set NUMCORES 1

# Use the RISC-V OpenOCD interface
source [find target/riscv.cfg]

# SiFive specific initialization
init
halt
